<br><br>
<a class="btn btn-success" routerLink="/quizzes/form">Add Quiz</a>
<a class="btn btn-primary" routerLink="/questions">Questions</a>
<a class="btn btn-primary" routerLink="/play">Play Quiz</a>

<table tableStyle>
    
    <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>MANAGE</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngIf="!quizzes">
            <td colspan="3" class="text-center">Loading data. Please wait...</td>
        </tr>

        <tr *ngIf="quizzes && !quizzes.length">
            <td colspan="3" class="text-center">No Data</td>
        </tr>

        <ng-container *ngIf="quizzes && quizzes.length">
            <tr *ngFor="let quiz of quizzes; trackBy:quiz?.id">
                <td>{{quiz.id}}</td>
                <td>{{quiz.name}}</td>
                <td>
                    <a class="btn btn-primary" [routerLink]="['/quizzes/form', quiz.id]">Edit</a>
                    <button type="button" class="btn btn-danger" (click)="deleteQuizById(quiz.id)">Delete</button>
                </td>
            </tr>
        </ng-container>
    </tbody>

</table>